<app-navigation></app-navigation>
<header id="header" class="header">
    <div class="header-content">
        <div class="text-container">
            <h1>Your favorite restaurants, delivered</h1>
            <div class="wrap">
                <div class="search">
                    <input type="text" ngx-google-places-autocomplete [options]="options"   class="searchTerm" placeholder="Enter delivery address">
                    <i class="fa fa-map-marker marker" aria-hidden="true"></i>

                    <button type="submit" (onAddressChange)="AddressChange($event)" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of header -->
</header>
<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid card-img" src="https://edgarpetrosyan0.github.io/-robodel-client/assets/images/ScootScoot.svg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Become a Dasher
                        </h4>
                        <p>As a delivery driver, you'll make reliable money—working anytime, anywhere.</p>
                        <a href="#">Start earning <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid card-img" src="https://edgarpetrosyan0.github.io/-robodel-client/assets/images/Storefront 2.svg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Become a Partner
                        </h4>
                        <p>Grow your business and reach new customers by partnering with us.</p>
                        <a href="#">Sign up your store <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid card-img" src="https://edgarpetrosyan0.github.io/-robodel-client/assets/images/iphone.svg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Try the App
                        </h4>
                        <p>Get the best DoorDash experience with live order tracking.</p>
                        <a href="#">Get the app <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!-- end of card -->
            </div>
        </div>
    </div>
</div>

<!-- Details -->
<div class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  order-1">
                <div class="text-container">
                    <h2>Every Flavor Welcome
                    </h2>
                    <p>From your neighborhood sushi spot to the burger and fries you crave, choose from over 300,000
                        local and national favorites across the U.S. and Canada.
                    </p>

                    <a class="btn-solid-reg page-scroll" routerLink="/restaurants-near-me">Find Restaurants</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="https://edgarpetrosyan0.github.io/-robodel-client/assets/images/food_one.webp" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="basic-1 bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2">
                <div class="text-container">
                    <h2>You’ve got stuff to do. We’ve got options.

                    </h2>
                    <p>Get it delivered right to your door. Or, try Pickup on your way home. It’s mealtime on your
                        time.

                    </p>

                    <a class="btn-solid-reg page-scroll" routerLink="/restaurants-near-me">Order now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="https://edgarpetrosyan0.github.io/-robodel-client/assets/images/food_two.webp" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>