<div class="header">
    <img src="/assets/images/logo-login-reg.png" alt="alternative" class="logo-login">
    <a href="#" class="logo" routerLink="/home"> RoboDel</a>
</div>
<div class="login-wrappers">
    <div class="container">
        <br>
        <div class="row j-c">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mt-1">Sign Up</h4>
                        <p class="sub-title">Already have an account?
                            <a class="sub-title-link" (click)="signIn()">Sign In</a>
                        </p>
                        <span>
                            <a href="" class="btn btn-wrappers  btn-block fb-btn"> <i class="fa fa-facebook-official"
                                    aria-hidden="true"></i>
                                 Continue with Facebook </a>
                            <a href="" class="btn btn-wrappers  btn-block google-btn"> <i class="fa fa-google"
                                    aria-hidden="true"></i>
                                 Continue with Google </a>
                            <a href="" class="btn btn-wrappers  btn-block apple-btn"> <i class="fa fa-apple"
                                    aria-hidden="true"></i>
                                 Continue with Apple </a>

                        </span>
                        <div class="continue-line"><span class="continue-line-text">or continue with email</span></div>
                        <form [formGroup]="form" (ngSubmit)="signUpUser()">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="phone">Mobile Number</label>
                                    <input type="text" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <button type="submit" class="btn btn-reg btn-block" (click)="signUpUser()"> Sign In
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>